@import url("w3.css");

/* 
arrow-right: &#11208; "⯈"
arrow-down:  &#11206; "⯆"
en-quad: &#8192; " "
em-quad: &#8193; " "
*/
.nav-level1::before { content: "⯈ "; opacity: 0.5; } 
.nav-level2::before { content: "   "; } 
.nav-dropdown::after { content: " ⯆";  opacity: 0.5; }

.nav-level1 { font-size: 100%; }
.nav-level2 { font-size: 90%; }

.newsitem-date { font-size: 50%; overflow: hidden; opacity: 0.5; }

.newsitem-button { border:none; display:block; padding:8px 16px;
overflow:hidden; text-decoration:none; color:inherit; background-color:inherit; cursor:pointer; }
.newsitem-button{-webkit-touch-callout:none;-webkit-user-select:none;
-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.newsitem-button:disabled{cursor:not-allowed;opacity:0.3}
.newsitem-button:hover{color:#000!important;background-color:#ccc!important}

a.header-wrap { text-decoration: none; }

#main-wrapper { max-width: 42em; float: left; }
#index-wrapper { max-width: 21em; float: left; }
#index-wrapper header { font-size: 80%; }
#index-wrapper nav { font-size: 80%; }

img.float-left { float: left; margin-right: 1em; margin-bottom: 1em; }
img.float-right { float: right; margin-left: 1em; margin-bottom: 1em; }

.banner { 
   background-image: url("zim-banner.jpg"); 
   height: 180px;
   width: 100%;
   background-position: left bottom;
   background-repeat: no-repeat;
   background-size: cover default;
}

